<!-- Button trigger modal -->
<button class="btn myBtn myBtnCreate mt-3" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
  (click)="isShowAdd = true">
  Skapa ny konsult
</button>

<table class="table myTable mt-3">
  <thead>
    <tr>
      <th class="col konsultContent centerText">Id</th>
      <th class="col konsultContent centerText">Förnamn</th>
      <th class="col konsultContent centerText">Efternamn</th>
      <th class="col konsultContent centerText">Startdatum</th>
      <th class="col konsultContent centerText">Ändra/radera konsult</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let consult of consults">
        <td class="centerText">{{ consult.id }}</td>
        <td class="centerText">{{ consult.firstName }}</td>
        <td class="centerText">{{ consult.lastName }}</td>
        <td class="centerText">{{ consult.startDate }}</td>
        <td class="col konsultContent centerText">
          <button class="btn btn-success myBtn me-3" type="button" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop" (click)="onEdit(consult); isShowAdd=false">
            Uppdatera
          </button>
          |
          <button class="btn btn-danger myBtn ms-3 me-3" (click)="removeConsult(consult.id)">
            Radera
          </button>
        </td>
      </tr>
  </tbody>
</table>

<!-- Modal -->
<app-add-new-dialog (add)="addNewConsult($event)" [consultToEdit]="consultEdit" (update)="updateConsult($event)" [showBtn]="isShowAdd"></app-add-new-dialog>

<!-- Modal bonus -->
<!--
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabelBonus" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabelBonus">
          Beräkna konsultbonus
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="consultForm">
          <div class="mb-3">
            <label class="form-label">Debiterade timmar
              <input type="number" formControlName="firstName" class="form-control" />
            </label>
          </div>
          <div class="mb-3">
            <label class="form-label">Årets nettoresultat
              <input type="number" formControlName="lastName" class="form-control" />
            </label>
          </div>
          <div class="mb-3">
            <label class="form-label">Bonus %
              <input type="number" formControlName="bonusPercent" class="form-control" />
            </label>
          </div>
          <div class="mb-3">
            <label class="form-label">Bonus kr
              <input type="number" formControlName="BonusSEK" class="form-control" />
            </label>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn myBtn myBtnCreate">
            Beräkna
          </button>
          <button type="button" class="btn myBtn myBtnCancel cancel" data-bs-dismiss="modal">
            Ångra
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
