:root {
  --gisys-green: #2abb9b;
  --gisys-secondary-green: #4ab7a1;
}

a:hover {
  color: #000;
}
.hourInput {
  width: 40%;
  text-align: center;
  background-color: var(--gisys-green);
  color: white;
  font-weight: 700;
}
.colorGisys {
  background-color: var(--gisys-green);
  color: white;
}

.centerText {
  text-align: center;
}
.nettoResultatBox {
  width: 90%;
  text-transform: uppercase;
}
.myBoldText {
  font-weight: 700;
}

/* -----My Button styles----- */
/* #region Btn*/
button.myBtn {
  color: #fff;
  background-color: var(--gisys-secondary-green);
  border-color: var(--gisys-secondary-green);
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
}

button.myBtnEdit,
button.myBtnDelete {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}

button.myBtnEdit {
  color: var(--gisys-secondary-green);
}
button.myBtnSave {
  color: lawngreen;
}
button.myBtnDelete {
  color: red;
}
button.myBtnSubmit {
  background-color: var(--gisys-green);
}
button.myBtnCreate {
  background-color: orange;
}
button.myBtnCancel {
  background-color: gray;
  color: white;
}
button.myBtnBack {
  background-color: lightgray;
}
button.myBtnHome {
  border: 1px solid black;
}
button.myCalculateBonus {
  background-color: var(--gisys-green);
  color: white;
  margin-right: 6px;
}
.btnRight {
  text-align: right;
}
.debHours {
  font-weight: 700;
  text-align: center;
}
/* #endregion btn*/
